<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/ad56d5f6-9e4d-4bb2-a83d-cfb07dea52de/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/VehicleApp20240320221927</ContainerResourceId>
    <ContainerResourceName>VehicleApp20240320221927</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>vehicleapp20240320221927.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>vehicleapp</ContainerName>
    <EnvironmentName>VehicleApp-env-20240320221436</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://vehicleapp-app-20240320221434.mangowave-69f6fa5e.southafricanorth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ad56d5f6-9e4d-4bb2-a83d-cfb07dea52de/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.App/containerApps/vehicleapp-app-20240320221434</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>